/** @format */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Allerta, serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
#icon-container {
  display: flex;
  justify-content: center;
}

#title {
  color: wheat;
}

.deleteBtn {
  font-family: arial;
  color: #14396a !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid black;
  background: red;
  color: white;
  background: linear-gradient(to top, white, red);
}

#header {
  width: 100vw;
  background: #63ba54;
  background: -webkit-linear-gradient(bottom left, #63ba54, #646d79);
  background: -moz-linear-gradient(bottom left, #63ba54, #646d79);
  background: linear-gradient(to top right, #63ba54, #646d79);
  padding: 1%;
}

#header form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding: 1%;
}

#search {
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  border: 9px solid #ffffff;
}

#compressor-container {
  width: 100vw;
  box-shadow: 3px 12px 2px 0px rgba(225, 228, 231, 1);
  margin-top: 3px;
}

table {
  width: 100%;
}
table thead {
  display: table;
  float: left;
  width: 100%;
}
table thead th {
  text-align: start;
}
table tbody {
  float: left;
  width: 100%;
}
table tbody tr {
  display: table;
  width: 100%;
}
table th,
td {
  width: 25%;
}

#settings {
  display: ;
}
